#login .formBox {
  margin-top: 100px;
  padding-top: 0;
  border: 1px solid #dcdcdc; }
#login .tabTitle {
  border-bottom: 1px solid #dcdcdc; }
  #login .tabTitle li {
    font-size: 16px;
    font-weight: bolder; }
    #login .tabTitle li a {
      display: block;
      padding: 10px; }
    #login .tabTitle li.active {
      border-bottom: 2px solid #3498db; }
      #login .tabTitle li.active a {
        color: #3498db; }
#login .formContent {
  padding: 20px; }
#login .form-group {
  line-height: 30px; }

#updateInfo .cropArea {
  width: 200px;
  height: 200px;
  background: #eee;
  overflow: hidden; }
#updateInfo .imgBox {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border: 1px solid #dcdcdc; }
  #updateInfo .imgBox img {
    width: 100%;
    height: 100%; }
  #updateInfo .imgBox .oldImg {
    position: absolute; }
#updateInfo .btnBox {
  margin-top: 20px; }

#createBlog {
  border-bottom: 4px dotted #3e4147; }
  #createBlog textarea {
    float: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    line-height: 30px;
    font-size: 14px; }
  #createBlog .title {
    margin-bottom: 0; }
  #createBlog .row {
    margin: 0; }
  #createBlog .point {
    display: inline-block; }
    #createBlog .point .error {
      font-size: 14px; }
  #createBlog .btnBox {
    display: inline-block;
    float: right; }

#blogList {
  padding-top: 20px; }
  #blogList ul {
    padding: 0; }
  #blogList li {
    padding-bottom: 10px;
    border-bottom: 1px dashed #dcdcdc; }
  #blogList li + li {
    margin-top: 20px; }
  #blogList textarea {
    width: 100%;
    height: 100%; }
  #blogList .top {
    font-weight: bolder; }
    #blogList .top a {
      color: #3498db; }
    #blogList .top > * {
      padding: 0; }
  #blogList .headPortrait {
    display: inline-block;
    width: 82px;
    height: 82px;
    border: 1px solid #dcdcdc;
    margin-top: 10px;
    border-radius: 50%;
    overflow: hidden; }
    #blogList .headPortrait img {
      width: 100%;
      height: 100%; }
  #blogList .content {
    min-height: 60px;
    padding: 4px 10px;
    font-size: 12px; }
  #blogList .footer {
    font-weight: bolder; }
    #blogList .footer a {
      color: #3498db; }
  #blogList comment {
    padding: 0; }
  #blogList .commentBox {
    margin-top: 20px;
    border: 1px solid #dcdcdc; }
  #blogList .commentList li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    border-top: 1px dashed #dcdcdc;
    border-bottom: none; }
  #blogList .commentList .headPortrait {
    margin-top: 0;
    width: 42px;
    height: 42px; }
  #blogList .commentList .content {
    min-height: auto;
    font-weight: normal; }
  #blogList .createMessageForm {
    position: relative;
    margin-top: 20px;
    background-color: #eee; }
    #blogList .createMessageForm .row {
      margin: 0; }
    #blogList .createMessageForm:before {
      content: "";
      position: absolute;
      top: -20px;
      right: 20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 20px 10px;
      border-color: transparent transparent #eee transparent; }

#followList {
  line-height: 30px; }
  #followList li {
    padding: 10px 0;
    border-bottom: 1px dashed #dcdcdc; }
    #followList li + li {
      padding-top: 20px; }
  #followList .headPortrait {
    width: 82px;
    height: 82px;
    margin-top: 4px;
    border: 1px solid #dcdcdc; }
    #followList .headPortrait img {
      width: 100%;
      height: 100%; }
  #followList .name {
    font-weight: bolder;
    color: #3498db; }
  #followList .follow {
    margin-left: 10px; }
    #followList .follow a {
      padding: 0 10px; }
      #followList .follow a:hover {
        text-decoration: underline; }
      #followList .follow a:last-child {
        border-left: 1px solid #3e4147; }

/*# sourceMappingURL=pages.css.map */
