
$systemColor1: #3e4147;
$systemColor2: #3498db;
$borderColor: #dcdcdc;
$errorColor: #e53b48;
$backgroundColor: #eee;
$orange: #ffb752;
$lightBule: #e0e9f4;

#login {
  .formBox {
	margin-top: 100px;
	padding-top: 0;
	border: 1px solid $borderColor;
  }
  .tabTitle {
	border-bottom: 1px solid $borderColor;
	li {
	  font-size: 16px;
	  font-weight: bolder;
	  a {
		display: block;
		padding: 10px;
	  }
	  &.active {
		border-bottom: 2px solid $systemColor2;
		a {
		  color: $systemColor2;
		}
	  }
	}
  }
  .formContent {
	padding: 20px;
  }
  .form-group {
	line-height: 30px;
  }
}

#updateInfo {
  .cropArea {
	width: 200px;
	height:200px;
	background: $backgroundColor;
	overflow: hidden;
  }
  .imgBox {
	position: relative;
	width: 200px;
	height: 200px;
	padding: 0;
	border: 1px solid $borderColor;
	img {
	  width: 100%;
	  height: 100%;
	}
	.oldImg {
	  position: absolute;
	}
  }
  .btnBox {
	margin-top: 20px;
  }
}

#createBlog {
  border-bottom: 4px dotted $systemColor1;
  textarea {
	float: none;
	width: 100%;
	height: 100%;
	padding: 10px;
	line-height: 30px;
	font-size: 14px;
  }
  .title {
	margin-bottom: 0;
  }
  .row {
	margin: 0;
  }
  .point {
	display: inline-block;
	.error {
	  font-size: 14px;
	}
  }
  .btnBox {
	display: inline-block;
	float: right;
  }
}

#blogList {
  padding-top: 20px;
  ul {
	padding: 0;
  }
  li {
	padding-bottom: 10px;
	border-bottom: 1px dashed $borderColor;
  }
  li + li {
	margin-top: 20px;
  }
  textarea {
	width: 100%;
	height: 100%;
  }
  .top {
	font-weight: bolder;
	a {
	  color: $systemColor2;
	}
	> * {
		padding: 0;
	}
  }
  .headPortrait {
	display: inline-block;
	width: 82px;
	height: 82px;
	border: 1px solid $borderColor;
	margin-top: 10px;
	border-radius: 50%;
	overflow: hidden;
	img {
	  width: 100%;
	  height: 100%;
	}
  }
  .content {
	min-height: 60px;
	padding: 4px 10px;
	font-size: 12px;
  }
  .footer {
	font-weight: bolder;
	a {
	  color: $systemColor2;
	}
  }
  comment {
	padding: 0;
  }
  .commentBox {
	margin-top: 20px;
	border: 1px solid $borderColor;
  }
  .commentList {
	li {
	  padding-top: 10px;
	  padding-bottom: 10px;
	  margin: 0;
	  border-top: 1px dashed $borderColor;
	  border-bottom: none;
	}
	.headPortrait {
	  margin-top: 0;
	  width: 42px;
	  height: 42px;
	}
	.content {
	  min-height: auto;
	  font-weight: normal;
	}
  }
  .createMessageForm {
	position: relative;
	margin-top: 20px;
	//border: 1px solid $borderColor;
	background-color: $backgroundColor;
	.row {
	  margin: 0;
	}
	&:before {
	  content: "";
	  position: absolute;
	  top: -20px;
	  right: 20px;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 0 10px 20px 10px;
	  border-color: transparent transparent $backgroundColor transparent;
	}
  }
}