$systemColor : #3f7fcf;

#login {
  .formBox {
	margin-top: 100px;
	padding-top: 0;
	border: 1px solid #dcdcdc;
  }
  .tabTitle {
	border-bottom: 1px solid #dcdcdc;
	li {
	  font-size: 16px;
	  font-weight: bolder;
	  a {
		display: block;
		padding: 10px;
	  }
	  &.active {
		border-bottom: 2px solid $systemColor;
		a {
		  color: $systemColor;
		}
	  }
	}
  }
  .formContent {
	padding: 20px;
  }
  .form-group {
	line-height: 30px;
  }
}

#updateInfo {
  .title {
	margin-bottom: 20px;
	padding-left: 10px;
	border-left: 4px solid #000;
	font-weight: bolder;
	font-size: 20px;
  }
  .cropArea {
	width: 200px;
	height:200px;
	background: #E4E4E4;
	overflow: hidden;
  }
  .imgBox {
	position: relative;
	width: 200px;
	height: 200px;
	padding: 0;
	border: 1px solid #dcdcdc;
	img {
	  width: 100%;
	  height: 100%;
	}
	.oldImg {
	  position: absolute;
	}
  }
}