<div ng-show="blogList.length === 0">当前还没有任何微博</div>
<ul ng-show="blogList.length > 0">
  <li class="clearfix" ng-repeat="(index,blog) in blogList" id="{{'blog' + blog.id}}">
    <div>
      <div class="col-md-2 text-center">
        <div class="headPortrait">
          <a href="{{'#user/' + blog.publisherId}}">
            <img ng-src="{{blog.hp ? blog.hpPath + blog.hp : blog.hpPath + 'default.png'}}" alt="头像">
          </a>
        </div>
      </div>
      <div class="col-md-10">
        <div class="clearfix top">
          <a href="{{'#user/' + blog.publisherId}}" ng-bind="blog.publisher"></a>
        </div>
        <div class="content" ng-bind="blog.content"></div>
        <div class="footer">
          <span ng-bind="blog.publishTime | date: 'yyyy-MM-dd HH:mm:ss'"></span>
          <a href="javascript:0;" class="r" ng-click="blog.showComment = !blog.showComment">评论(<span ng-bind="blog.comments"></span>)</a>
        </div>
      </div>
    </div>
    <div ng-if="blog.showComment && blog.comments > 0">
      <!--<comment owner="blog.id" receiver="blog.publisherId"
        class="col-md-10 col-lg-offset-2">评论数据加载中...</comment>-->
      <div ng-include="'tpls/comments.html'"></div>
    </div>
  </li>
</ul>
<div class="text-center moreBox">
  <div ng-show="perpageCount * currentPage >= totalCount">没有更多数据了</div>
  <div ng-show="perpageCount * currentPage < totalCount">
    <a href="#" class="btn-link">>> 点击加载更多 <<</a>
  </div>
</div>
