<div id="createBlog" ng-controller="CreateBlogCtrl">
	<h2 class="title">发布微博</h2>
	<form name="createBlogForm" role="form" class="pBox">
		<div class="row">
			<textarea rows="4" ng-model="blogContent" name="blogContent" required ng-maxlength="140"></textarea>
		</div>
		<div class="row">
			<div class="point">
				<div ng-hide="createBlogForm.blogContent.$dirty && createBlogForm.blogContent.$invalid">（内容为1-140个字数）</div>
				<div class="error" ng-show="createBlogForm.blogContent.$dirty && createBlogForm.blogContent.$invalid">
					<span ng-show="createBlogForm.blogContent.$error.maxlength">内容长度不得大于140个字符</span>
					<span ng-show="createBlogForm.blogContent.$error.required">发布内容不能为空</span>
				</div>
			</div>
			<div class="btnBox">
				<button type="button" class="btn btn1" id="createBlogBtn" ng-click="publishBlog()">发布</button>
			</div>
		</div>
	</form>
</div>