<div id="followList">
	<ul>
		<li>
			<div class="inline clearfix">
				<div class="col-md-2">
					<div class="headPortrait">
						<a href="#">
							<img ng-src="{{followings.hp ? followings.hpPath + followings.hp : followings.hpPath + 'default.png'}}" alt="头像">
						</a>
					</div>
				</div>
				<div class="col-md-10 clearfix">
					<div class="row">
						<a href="#" class="name">张三</a>
						<span class="follow">
							<a href="#">粉丝(<span>0</span>)</a>
							<a href="#">关注(<span>0</span>)</a>
						</span>
						<button type="button" class="btn btn1 r">取消关注</button>
					</div>
					<div class="row clearfix">
						<div class="col-md-4">
							性别：<span>女</span>
						</div>
						<div class="col-md-4">
							生日：<span>1996-01-12</span>
						</div>
						<div class="col-md-4">
							邮箱：<span>123456@qq.com</span>
						</div>
					</div>
					<div class="row col-md-12">
						个性介绍：<span>是的地方金克拉；极度疯狂阿斯顿发； 啊开始打飞机就</span>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="inline clearfix">
				<div class="col-md-2">
					<div class="headPortrait">
						<a href="#">
							<img ng-src="{{followings.hp ? followings.hpPath + followings.hp : followings.hpPath + 'default.png'}}" alt="头像">
						</a>
					</div>
				</div>
				<div class="col-md-10 clearfix">
					<div class="row">
						<a href="#" class="name">张三</a>
						<span class="follow">
							<a href="#">粉丝(<span>0</span>)</a>
							<a href="#">关注(<span>0</span>)</a>
						</span>
						<button type="button" class="btn btn1 r">取消关注</button>
					</div>
					<div class="row clearfix">
						<div class="col-md-4">
							性别：<span>女</span>
						</div>
						<div class="col-md-4">
							生日：<span>1996-01-12</span>
						</div>
						<div class="col-md-4">
							邮箱：<span>123456@qq.com</span>
						</div>
					</div>
					<div class="row col-md-12">
						个性介绍：<span>是的地方金克拉；极度疯狂阿斯顿发； 啊开始打飞机就</span>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>