<div class="container" ng-controller="checkSignedInCtrl">
  <div class="row col-md-12">
    <h1 class="col-md-2" id="logo">微博社区</h1>
    <nav id="mainNav" class="col-lg-6" ng-show="isSignedIn">
      <ul class="list-inline">
        <li><a href="#/index">首页</a></li>
        <li><a href="#/blogList">发布</a></li>
        <li><a href="#">信息</a></li>
        <li>
          <a href="javascript:0;" class="follow">好友</a>
          <ul>
            <li><a href="#/following">关注</a></li>
            <li><a href="#/following">粉丝</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="col-lg-4 text-right btnBox" ng-show="isSignedIn">
      <a href="#" id="signout" ng-controller="signoutCtrl" ng-click="signout()">退出</a>
    </div>
  </div>
</div>
