<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>微博</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="css/pages.css">
</head>
<body>
	<div ui-view>加载中...</div>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-ui-router.js"></script>
	<script src="js/jquery-3.0.0.min.js"></script>
	<script src="app.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>